<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="Secret" value="58F5D7947E9B7E68CDB00B5DF1E3679693CA14D8A7A9F14C8795CCE0A5" />
    <add key="DealerKey" value="11E9296168106D89AD6896BADBCC89C8" />
    <add key="Username" value="tunstallwebapi" />
    <add key="MytrexUrl" value="https://mylink.mytrexinc.com/preAuth/monitoringcenter" />
    <add key="LogFile" value="MIBLog.txt"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
