<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PNC" value="Data Source=ETLADMIN;UID=CCADMIN;PWD=CCADMIN" />
    <add key="Kshema" value="SERVER=SQL1;DATABASE=AMAC_PNC_TEST;UID=etladminsvc;PASSWORD=EtlAdmin$" />
    <add key="PNC_Staging" value="SERVER=LICVMTESTSVR03;DATABASE=PNC_Staging;UID=etladminsvc;PASSWORD=EtlAdmin$" />
    <add key="ServiceTimer" value="20" />
    <!--in minutes-->
    <add key="Query_Files_Path" value="E:\PNC_Kshema_Sync\QueryFiles\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
