/MytrexIntegration/MytrexIntegrationBrowser/bin/Debug/Microsoft.IdentityModel.JsonWebTokens.dll
/MytrexIntegration/MytrexIntegrationBrowser/bin/Debug/Microsoft.IdentityModel.JsonWebTokens.pdb
/MytrexIntegration/MytrexIntegrationBrowser/bin/Debug/Microsoft.IdentityModel.JsonWebTokens.xml
/MytrexIntegration/MytrexIntegrationBrowser/bin/Debug/Microsoft.IdentityModel.Logging.dll
/MytrexIntegration/MytrexIntegrationBrowser/bin/Debug/Microsoft.IdentityModel.Logging.pdb
/MytrexIntegration/MytrexIntegrationBrowser/bin/Debug/Microsoft.IdentityModel.Logging.xml
/MytrexIntegration/MytrexIntegrationBrowser/bin/Debug/Microsoft.IdentityModel.Tokens.dll
/MytrexIntegration/MytrexIntegrationBrowser/bin/Debug/Microsoft.IdentityModel.Tokens.pdb
/MytrexIntegration/MytrexIntegrationBrowser/bin/Debug/Microsoft.IdentityModel.Tokens.xml
/MytrexIntegration/MytrexIntegrationBrowser/bin/Debug/MytrexIntegrationBrowser.exe
/MytrexIntegration/MytrexIntegrationBrowser/bin/Debug/MytrexIntegrationBrowser.exe.config
/MytrexIntegration/MytrexIntegrationBrowser/bin/Debug/MytrexIntegrationBrowser.pdb
/MytrexIntegration/MytrexIntegrationBrowser/bin/Debug/Newtonsoft.Json.dll
/MytrexIntegration/MytrexIntegrationBrowser/bin/Debug/Newtonsoft.Json.xml
/MytrexIntegration/MytrexIntegrationBrowser/bin/Debug/System.IdentityModel.Tokens.Jwt.dll
/MytrexIntegration/MytrexIntegrationBrowser/bin/Debug/System.IdentityModel.Tokens.Jwt.pdb
/MytrexIntegration/MytrexIntegrationBrowser/bin/Debug/System.IdentityModel.Tokens.Jwt.xml
/MytrexIntegration/MytrexIntegrationBrowser/bin/Debug/TunstallBL.dll
/MytrexIntegration/MytrexIntegrationBrowser/bin/Debug/TunstallBL.pdb
/MytrexIntegration/MytrexIntegrationBrowser/obj/Debug/CoreCompileInputs.cache
/MytrexIntegration/MytrexIntegrationBrowser/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MytrexIntegration/MytrexIntegrationBrowser/obj/Debug/MytrexIntegrationBrowser.csproj.FileListAbsolute.txt
/MytrexIntegration/MytrexIntegrationBrowser/obj/Debug/MytrexIntegrationBrowser.csprojResolveAssemblyReference.cache
/MytrexIntegration/MytrexIntegrationBrowser/obj/Debug/MytrexIntegrationBrowser.exe
/MytrexIntegration/MytrexIntegrationBrowser/obj/Debug/MytrexIntegrationBrowser.pdb
/MytrexIntegration/MytrexIntegrationBrowser/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MytrexIntegration/MytrexIntegrationBrowser/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/MytrexIntegration/MytrexIntegrationBrowser/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.JsonWebTokens.5.4.0/.signature.p7s
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.JsonWebTokens.5.4.0/Microsoft.IdentityModel.JsonWebTokens.5.4.0.nupkg
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.JsonWebTokens.5.4.0/lib/net45/Microsoft.IdentityModel.JsonWebTokens.dll
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.JsonWebTokens.5.4.0/lib/net45/Microsoft.IdentityModel.JsonWebTokens.pdb
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.JsonWebTokens.5.4.0/lib/net45/Microsoft.IdentityModel.JsonWebTokens.xml
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.JsonWebTokens.5.4.0/lib/net451/Microsoft.IdentityModel.JsonWebTokens.dll
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.JsonWebTokens.5.4.0/lib/net451/Microsoft.IdentityModel.JsonWebTokens.pdb
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.JsonWebTokens.5.4.0/lib/net451/Microsoft.IdentityModel.JsonWebTokens.xml
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.JsonWebTokens.5.4.0/lib/net461/Microsoft.IdentityModel.JsonWebTokens.dll
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.JsonWebTokens.5.4.0/lib/net461/Microsoft.IdentityModel.JsonWebTokens.pdb
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.JsonWebTokens.5.4.0/lib/net461/Microsoft.IdentityModel.JsonWebTokens.xml
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.JsonWebTokens.5.4.0/lib/netstandard1.4/Microsoft.IdentityModel.JsonWebTokens.dll
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.JsonWebTokens.5.4.0/lib/netstandard1.4/Microsoft.IdentityModel.JsonWebTokens.pdb
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.JsonWebTokens.5.4.0/lib/netstandard1.4/Microsoft.IdentityModel.JsonWebTokens.xml
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.JsonWebTokens.5.4.0/lib/netstandard2.0/Microsoft.IdentityModel.JsonWebTokens.dll
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.JsonWebTokens.5.4.0/lib/netstandard2.0/Microsoft.IdentityModel.JsonWebTokens.pdb
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.JsonWebTokens.5.4.0/lib/netstandard2.0/Microsoft.IdentityModel.JsonWebTokens.xml
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.Logging.5.4.0/.signature.p7s
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.Logging.5.4.0/Microsoft.IdentityModel.Logging.5.4.0.nupkg
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.Logging.5.4.0/lib/net45/Microsoft.IdentityModel.Logging.dll
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.Logging.5.4.0/lib/net45/Microsoft.IdentityModel.Logging.pdb
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.Logging.5.4.0/lib/net45/Microsoft.IdentityModel.Logging.xml
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.Logging.5.4.0/lib/net451/Microsoft.IdentityModel.Logging.dll
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.Logging.5.4.0/lib/net451/Microsoft.IdentityModel.Logging.pdb
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.Logging.5.4.0/lib/net451/Microsoft.IdentityModel.Logging.xml
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.Logging.5.4.0/lib/net461/Microsoft.IdentityModel.Logging.dll
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.Logging.5.4.0/lib/net461/Microsoft.IdentityModel.Logging.pdb
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.Logging.5.4.0/lib/net461/Microsoft.IdentityModel.Logging.xml
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.Logging.5.4.0/lib/netstandard1.4/Microsoft.IdentityModel.Logging.dll
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.Logging.5.4.0/lib/netstandard1.4/Microsoft.IdentityModel.Logging.pdb
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.Logging.5.4.0/lib/netstandard1.4/Microsoft.IdentityModel.Logging.xml
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.Logging.5.4.0/lib/netstandard2.0/Microsoft.IdentityModel.Logging.dll
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.Logging.5.4.0/lib/netstandard2.0/Microsoft.IdentityModel.Logging.pdb
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.Logging.5.4.0/lib/netstandard2.0/Microsoft.IdentityModel.Logging.xml
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.Tokens.5.4.0/.signature.p7s
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.Tokens.5.4.0/Microsoft.IdentityModel.Tokens.5.4.0.nupkg
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.Tokens.5.4.0/lib/net45/Microsoft.IdentityModel.Tokens.dll
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.Tokens.5.4.0/lib/net45/Microsoft.IdentityModel.Tokens.pdb
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.Tokens.5.4.0/lib/net45/Microsoft.IdentityModel.Tokens.xml
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.Tokens.5.4.0/lib/net451/Microsoft.IdentityModel.Tokens.dll
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.Tokens.5.4.0/lib/net451/Microsoft.IdentityModel.Tokens.pdb
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.Tokens.5.4.0/lib/net451/Microsoft.IdentityModel.Tokens.xml
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.Tokens.5.4.0/lib/net461/Microsoft.IdentityModel.Tokens.dll
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.Tokens.5.4.0/lib/net461/Microsoft.IdentityModel.Tokens.pdb
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.Tokens.5.4.0/lib/net461/Microsoft.IdentityModel.Tokens.xml
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.Tokens.5.4.0/lib/netstandard1.4/Microsoft.IdentityModel.Tokens.dll
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.Tokens.5.4.0/lib/netstandard1.4/Microsoft.IdentityModel.Tokens.pdb
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.Tokens.5.4.0/lib/netstandard1.4/Microsoft.IdentityModel.Tokens.xml
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.Tokens.5.4.0/lib/netstandard2.0/Microsoft.IdentityModel.Tokens.dll
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.Tokens.5.4.0/lib/netstandard2.0/Microsoft.IdentityModel.Tokens.pdb
/MytrexIntegration/MytrexIntegrationBrowser/packages/Microsoft.IdentityModel.Tokens.5.4.0/lib/netstandard2.0/Microsoft.IdentityModel.Tokens.xml
/MytrexIntegration/MytrexIntegrationBrowser/packages/Newtonsoft.Json.10.0.1/.signature.p7s
/MytrexIntegration/MytrexIntegrationBrowser/packages/Newtonsoft.Json.10.0.1/Newtonsoft.Json.10.0.1.nupkg
/MytrexIntegration/MytrexIntegrationBrowser/packages/Newtonsoft.Json.10.0.1/lib/net20/Newtonsoft.Json.dll
/MytrexIntegration/MytrexIntegrationBrowser/packages/Newtonsoft.Json.10.0.1/lib/net20/Newtonsoft.Json.xml
/MytrexIntegration/MytrexIntegrationBrowser/packages/Newtonsoft.Json.10.0.1/lib/net35/Newtonsoft.Json.dll
/MytrexIntegration/MytrexIntegrationBrowser/packages/Newtonsoft.Json.10.0.1/lib/net35/Newtonsoft.Json.xml
/MytrexIntegration/MytrexIntegrationBrowser/packages/Newtonsoft.Json.10.0.1/lib/net40/Newtonsoft.Json.dll
/MytrexIntegration/MytrexIntegrationBrowser/packages/Newtonsoft.Json.10.0.1/lib/net40/Newtonsoft.Json.xml
/MytrexIntegration/MytrexIntegrationBrowser/packages/Newtonsoft.Json.10.0.1/lib/net45/Newtonsoft.Json.dll
/MytrexIntegration/MytrexIntegrationBrowser/packages/Newtonsoft.Json.10.0.1/lib/net45/Newtonsoft.Json.xml
/MytrexIntegration/MytrexIntegrationBrowser/packages/Newtonsoft.Json.10.0.1/lib/netstandard1.0/Newtonsoft.Json.dll
/MytrexIntegration/MytrexIntegrationBrowser/packages/Newtonsoft.Json.10.0.1/lib/netstandard1.0/Newtonsoft.Json.xml
/MytrexIntegration/MytrexIntegrationBrowser/packages/Newtonsoft.Json.10.0.1/lib/netstandard1.3/Newtonsoft.Json.dll
/MytrexIntegration/MytrexIntegrationBrowser/packages/Newtonsoft.Json.10.0.1/lib/netstandard1.3/Newtonsoft.Json.xml
/MytrexIntegration/MytrexIntegrationBrowser/packages/Newtonsoft.Json.10.0.1/lib/portable-net45+win8+wpa81+wp8/Newtonsoft.Json.dll
/MytrexIntegration/MytrexIntegrationBrowser/packages/Newtonsoft.Json.10.0.1/lib/portable-net45+win8+wpa81+wp8/Newtonsoft.Json.xml
/MytrexIntegration/MytrexIntegrationBrowser/packages/Newtonsoft.Json.10.0.1/tools/install.ps1
/MytrexIntegration/MytrexIntegrationBrowser/packages/System.IdentityModel.Tokens.Jwt.5.4.0/.signature.p7s
/MytrexIntegration/MytrexIntegrationBrowser/packages/System.IdentityModel.Tokens.Jwt.5.4.0/System.IdentityModel.Tokens.Jwt.5.4.0.nupkg
/MytrexIntegration/MytrexIntegrationBrowser/packages/System.IdentityModel.Tokens.Jwt.5.4.0/lib/net45/System.IdentityModel.Tokens.Jwt.dll
/MytrexIntegration/MytrexIntegrationBrowser/packages/System.IdentityModel.Tokens.Jwt.5.4.0/lib/net45/System.IdentityModel.Tokens.Jwt.pdb
/MytrexIntegration/MytrexIntegrationBrowser/packages/System.IdentityModel.Tokens.Jwt.5.4.0/lib/net45/System.IdentityModel.Tokens.Jwt.xml
/MytrexIntegration/MytrexIntegrationBrowser/packages/System.IdentityModel.Tokens.Jwt.5.4.0/lib/net451/System.IdentityModel.Tokens.Jwt.dll
/MytrexIntegration/MytrexIntegrationBrowser/packages/System.IdentityModel.Tokens.Jwt.5.4.0/lib/net451/System.IdentityModel.Tokens.Jwt.pdb
/MytrexIntegration/MytrexIntegrationBrowser/packages/System.IdentityModel.Tokens.Jwt.5.4.0/lib/net451/System.IdentityModel.Tokens.Jwt.xml
/MytrexIntegration/MytrexIntegrationBrowser/packages/System.IdentityModel.Tokens.Jwt.5.4.0/lib/net461/System.IdentityModel.Tokens.Jwt.dll
/MytrexIntegration/MytrexIntegrationBrowser/packages/System.IdentityModel.Tokens.Jwt.5.4.0/lib/net461/System.IdentityModel.Tokens.Jwt.pdb
/MytrexIntegration/MytrexIntegrationBrowser/packages/System.IdentityModel.Tokens.Jwt.5.4.0/lib/net461/System.IdentityModel.Tokens.Jwt.xml
/MytrexIntegration/MytrexIntegrationBrowser/packages/System.IdentityModel.Tokens.Jwt.5.4.0/lib/netstandard1.4/System.IdentityModel.Tokens.Jwt.dll
/MytrexIntegration/MytrexIntegrationBrowser/packages/System.IdentityModel.Tokens.Jwt.5.4.0/lib/netstandard1.4/System.IdentityModel.Tokens.Jwt.pdb
/MytrexIntegration/MytrexIntegrationBrowser/packages/System.IdentityModel.Tokens.Jwt.5.4.0/lib/netstandard1.4/System.IdentityModel.Tokens.Jwt.xml
/MytrexIntegration/MytrexIntegrationBrowser/packages/System.IdentityModel.Tokens.Jwt.5.4.0/lib/netstandard2.0/System.IdentityModel.Tokens.Jwt.dll
/MytrexIntegration/MytrexIntegrationBrowser/packages/System.IdentityModel.Tokens.Jwt.5.4.0/lib/netstandard2.0/System.IdentityModel.Tokens.Jwt.pdb
/MytrexIntegration/MytrexIntegrationBrowser/packages/System.IdentityModel.Tokens.Jwt.5.4.0/lib/netstandard2.0/System.IdentityModel.Tokens.Jwt.xml
/TunstallBL/bin/Debug/Microsoft.IdentityModel.JsonWebTokens.dll
/TunstallBL/bin/Debug/Microsoft.IdentityModel.JsonWebTokens.pdb
/TunstallBL/bin/Debug/Microsoft.IdentityModel.JsonWebTokens.xml
/TunstallBL/bin/Debug/Microsoft.IdentityModel.Logging.dll
/TunstallBL/bin/Debug/Microsoft.IdentityModel.Logging.pdb
/TunstallBL/bin/Debug/Microsoft.IdentityModel.Logging.xml
/TunstallBL/bin/Debug/Microsoft.IdentityModel.Tokens.dll
/TunstallBL/bin/Debug/Microsoft.IdentityModel.Tokens.pdb
/TunstallBL/bin/Debug/Microsoft.IdentityModel.Tokens.xml
/TunstallBL/bin/Debug/Newtonsoft.Json.dll
/TunstallBL/bin/Debug/Newtonsoft.Json.xml
/TunstallBL/bin/Debug/System.IdentityModel.Tokens.Jwt.dll
/TunstallBL/bin/Debug/System.IdentityModel.Tokens.Jwt.pdb
/TunstallBL/bin/Debug/System.IdentityModel.Tokens.Jwt.xml
/TunstallBL/bin/Debug/TunstallBL.dll
/TunstallBL/bin/Debug/TunstallBL.pdb
/TunstallBL/obj/Debug/CoreCompileInputs.cache
/TunstallBL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/TunstallBL/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/TunstallBL/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/TunstallBL/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/TunstallBL/obj/Debug/TunstallBL.csproj.FileListAbsolute.txt
/TunstallBL/obj/Debug/TunstallBL.csprojResolveAssemblyReference.cache
/TunstallBL/obj/Debug/TunstallBL.dll
/TunstallBL/obj/Debug/TunstallBL.pdb
/MytrexIntegration/MytrexIntegrationBrowser/bin/Debug/MytrexBrowserIntegration.zip