<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PNC" value="DSN=CC6DB;UID=CCADMIN;PWD=CCADMIN" />
    <add key="MytrexSecret" value="58F5D7947E9B7E68CDB00B5DF1E3679693CA14D8A7A9F14C8795CCE0A5" />
    <add key="MytrexDealerKey" value="11E9296168106D89AD6896BADBCC89C8" />
    <add key="MytrexUsername" value="tunstallwebapi" />
    <add key="MytrexUrl" value="https://mylink.mytrexinc.com/api/v1" />
    <add key="MytrexProdEvents" value="MytrexProd.json" />
    <add key="MytrextTestEvents" value="MytrexTest.json" />
    <add key="AneltoAPIUsername" value="Tunstall" />
    <add key="AneltoAPIPassword" value="faP-3ki-9ie-qmy" />
    <add key="AneltoURL" value="https://ss.anelto.com:12332" />
    <add key="LogFile" value="UnitTestRequest.log" />
    <add key="StripPhoneNumberField" value="false" />
    <add key="AneltoTestNumber" value="2125551212" />
    <add key="AneltoProdNumber" value="3478756657" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>