<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PNC" value="Data Source=ETLADMIN;UID=CCADMIN;PWD=CCADMIN" />
    <add key="Kshema" value="SERVER=SQL1;DATABASE=AMAC_PNC_TEST;UID=etladminsvc;PASSWORD=EtlAdmin$" />
    <add key="PNC_Staging" value="SERVER=LICVMTESTSVR03;DATABASE=PNC_Staging;UID=etladminsvc;PASSWORD=EtlAdmin$" />
    <add key="ServiceTimer" value="20" />
    <!--in minutes-->
    <add key="Query_Files_Path" value="E:\Tunstall_Development\PNC_Kshema_Sync\QueryFiles\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key ="Email_Server" value="pop3.amac.com"/>
    <add key ="Email_User" value="etladminsvc"/>
    <add key ="Email_Password" value="EtlAdmin$"/>
    <add key="Email_ToAddress" value="development.admins@tunstallamac.com"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>