<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="PNC" value="DSN=CC6DB;UID=CCADMIN;PWD=CCADMIN" />
    <add key="AneltoAPIUsername" value="Tunstall|Tunstall_AL|Tunstall_CO|Tunstall_HI" />
    <add key="AneltoAPIPassword" value="faP-3ki-9ie-qmy" />
    <add key="LogFile" value="AneltoProcess.log" />
    <add key="StripPhoneNumberField" value="false" />
  </appSettings>
  <connectionStrings>
    <!--<add name="TunstallDB" connectionString="Data Source=tcp:ggapidb.database.windows.net,1433;Initial Catalog=mytrexdb;Persist Security Info=False;User ID=gga;Password=T3chn0l0gy!2#;Encrypt=True" providerName="System.Data.SqlClient" />-->
    <add name="TunstallDB" connectionString="Data Source=VMTCMSSQL01;Initial Catalog=WebAPI;Persist Security Info=False;User ID=Asanfilippo;Password=San@Cameric@;Encrypt=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>